<mat-toolbar color="primary" class="mat-elevation-z3">
  <mat-toolbar-row> <!--[style.display]="mobileQuery.matches ? 'inherit' : 'none'"-->
    <button *ngIf="mobileQuery.matches" mat-icon-button (click)="toggleSnav()"><mat-icon>menu</mat-icon></button>
    <h1>{{title}}</h1>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #snav
               fixedInViewport="true"
               class="mat-elevation-z2"
               [mode]="mobileQuery.matches ? 'over' : 'side'">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-progress-bar mode="indeterminate" [style.visibility]="isNavigating ? 'visible' : 'hidden'"></mat-progress-bar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
