<form [formGroup]="form">
  <mat-card>
    <mat-card-title translate>titles.login</mat-card-title>
    <mat-card-subtitle [innerHTML]="'login-page.redirect' | translate:lang:redirectWrap"></mat-card-subtitle>
    <mat-card-header class="app-progress-bar-container">
      <app-progress-bar [show]="isMakingRequest"></app-progress-bar>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="standard" class="fit-parent-width">
        <mat-label translate>login-page.labels.login</mat-label>
        <input matInput
               type="email"
               required="required"
               formControlName="email"
               name="email"/>
        <mat-error *ngIf="controls.email.invalid" translate>login-page.error.email</mat-error>
      </mat-form-field>
      <mat-form-field appearance="standard" class="fit-parent-width">
        <mat-label translate>login-page.labels.password</mat-label>
        <input matInput
               type="password"
               required="required"
               formControlName="password"
               name="password"/>
        <mat-error *ngIf="controls.password.invalid" translate>login-page.error.password</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary"
              [disabled]="isMakingRequest || form.invalid"
              (click)="submit()">{{ 'login-page.submit' | translate:lang }}</button>
    </mat-card-actions>
  </mat-card>
</form>

<!--[disabled]="isMakingRequest || form.invalid || form.pristine"-->
