<script src="../user-routing.module.ts"></script>
<form [formGroup]="form">
  <mat-card>
    <mat-card-header class="app-progress-bar-container">
      <app-progress-bar [show]="isMakingRequest"></app-progress-bar>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="fit-parent-width">
        <mat-label translate>user.labels.email</mat-label>
        <input matInput
               type="email"
               required="required"
               formControlName="email"
               name="email"/>
        <mat-error *ngIf="controls.email.invalid" translate>user.errors.email</mat-error>
      </mat-form-field>
      <mat-form-field class="fit-parent-width">
        <mat-label translate>user.labels.password</mat-label>
        <input matInput
               type="password"
               [required]="!user"
               formControlName="password"
               name="password"/>
        <mat-error *ngIf="controls.password.invalid" translate>user.errors.password</mat-error>
      </mat-form-field>
      <mat-chip-list mat-line [selectable]="true" [multiple]="true">
        <mat-chip *ngFor="let roleName of roleNames"
                  #chip="matChip"
                  [selectable]="true"
                  [selected]="userRoles[roleName]"
                  [disabled]="form.disabled"
                  (click)="form.enabled && chip.toggleSelected(true)"
                  (selectionChange)="toggleRole(roleName, $event)">
          {{'user.roles.' + roleName | translate:lang}}
        </mat-chip>
        <mat-error [style.visibility]="userRolesDirty && form.errors?.userRole ? 'visible' : 'hidden'" translate>
          user.errors.role
        </mat-error>
      </mat-chip-list>
      <mat-form-field class="fit-parent-width">
        <mat-label translate>user.labels.full-name</mat-label>
        <input matInput
               type="text"
               required="required"
               formControlName="fullName"
               name="fullName"/>
        <mat-error *ngIf="controls.fullName.errors" translate>user.errors.full-name</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="start">
      <button *ngIf="!user" mat-raised-button color="primary"
              [disabled]="!form.valid || isMakingRequest"
              (click)="create()">{{'user.create.submit' | translate:lang}}</button>
      <button *ngIf="user" mat-raised-button color="primary"
              [disabled]="!form.valid || isMakingRequest"
              (click)="update()">{{'user.update.submit' | translate:lang}}</button>
      <button mat-button color="primary"
              [disabled]="isMakingRequest"
              (click)="goBack()">{{'buttons.cancel' | translate:lang}}</button>
    </mat-card-actions>
  </mat-card>
</form>
